@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
  --primary-bg-color: #000000;
  --main-text-color: #f6f6f6;
  --primary-font: "Krona One", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: var(--primary-bg-color);
  color: var(--main-text-color);
}

header {
  padding: 2% 0% 0% 15%;
}

.header-navigation {
  display: flex;
  gap: 2.5rem;
}

.navigation-item {
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-terciaria);
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 15%;
}

.text-section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 50%;
}

.main-title {
  font-size: 2.5rem;
  font-family: var(--primary-font);
}

strong {
  color: #22d4fd;
}

.main-paragraph {
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-family: var(--secondary-font);
  text-align: justify;
}

.button-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.button-box-title {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1.5rem;
}

.button-box-button {
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid #22d4fd;
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--main-text-color);
  font-family: var(--secondary-font);
  transition: all 0.4s ease-in-out;
}

.button-box-button:hover {
  background: #4837db;
}

.img-box {
  border: 3px solid var(--primary-blue);
  border-radius: 16px;
  box-shadow: 2px 2px 2px #14427e;
}

@media (max-width: 1200px) {
  header {
    padding: 10%;
  }

  .header-navigation {
    justify-content: center;
  }

  .intro {
    flex-direction: column-reverse;
    padding: 5%;
  }

  .text-section {
    margin: 2rem 0;
    width: 80%;
  }
}
